{
  "extends": [
    "@react-native-community",
    "eslint:recommended",
    "eslint-config-airbnb",
    "plugin:@typescript-eslint/recommended"
  ],
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "root": true,
  "rules": {
    "quotes": [
      2,
      "double",
      {
        "avoidEscape": true
      }
    ]
  }
}
